.row {
    margin-left: 100px;
    color: #fff;
  }
  
  h2 {
    margin-left: 20px;
  }
  
  .posters {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .posters::-webkit-scrollbar {
    display: none;
  }
  
  .poster_container {
    position: relative;
    margin-right: 10px;
  }
  .poster_container:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
  .poster_container:not(:hover) {
    transition: transform 0.5s ease;
  }
  
  .poster {
    max-height: 180px;
    width: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start; /* Align content to the top */
    flex-direction: column; /* Stack items vertically */
    padding: 10px; /* Added padding for some spacing */
    box-sizing: border-box;
    transition: opacity 0.3s ease;
  }
  
  .poster_container:hover .overlay {
    opacity: 1;
  }
  
  .movie_name {
    color: #fff;
    font-size: 16px;
    text-align: left;
    margin: 0;
  }
  